:root {
  --color-dark-green: #2f4f4f;
  --color-primary-green: #3c0080;
  --color-gold: #bdb76b;
  --color-light-gold: #ffe4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffe4c4;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.8rem;
}

h1 {
  color: #7a2405;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

.football {
  color: var(--color-dark-green);
  background-color: var(--color-gold);
  font-weight: 400;
  text-align: justify;
  /*width: 500px;
  */ /*height: 700px;
  */ /*Padding:;
  Margesinternespadding-top:20px;
  padding-bottom:30px;
  padding-left: 10px;
  padding-right:10px;
  oupadding:;
  top-valueright-valuebottom-valueleft-valuepadding: 20px 30px 10px 30px;
  padding:;
  top-bottom-valueright-left-value*/
  padding: 20px 30px;
  /*Margin:;
  margesexternesmargin-top:20px;
  margin-bottom:30px;
  margin-left: 10px;
  margin-right:10px;
  oumargin:;
  top-valueright-valuebottom-valueleft-valuemargin: 20px 30px 10px 30px;
  margin:;
  top-bottom-valueright-left-value*/
  margin-bottom: 50px;
  border: 2px solid black;
  transition: 0.2s;
}

.football:hover {
  font-size: 2.5rem;
  font-weight: 500;
  border: 3px solid red;
}

p {
  color: #CF000F;
  font-size: 20px;
}

/* {
    color: red;
    font-size: 20px;
} 
*/

li {
  color: var(--color-primary-green);
}

h3 {
  color: #7a2407;
}
